.SimpleText {
  position: relative;
  &__body {
    padding: 8px;
    background-color: #ffffff;
    border-radius: 2px;
  }
  &__arrow {
    position: absolute;
    width: 0;
    height: 0;
    top: 8px;
    left: -10px;

    border-top: 6px solid #ffffff;
    border-left: 10px solid transparent;
  }

}