.ListItem {
  position: relative;
  height: 64px;
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    &__title {
      margin-bottom: 4px;
      font-size: 14px;
      font-weight: bold;
    }
    &__description {
      font-size: 12px;
    }
  }
  &__image {
    position: absolute;
    top: 0;
    right: 0;

    width: 64px;
    height: 64px;

    border: 1px solid #efefef;

    background-position: center;
  }
}