.BasicCard {

  &__contents {
    margin-bottom: 16px;
    &__title {
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: bold;
    }
    &__description {
      font-size: 12px;
    }
  }
}
